#topBar {
    background-color: rgb(83, 77, 77);
}

.TopBarElem {
    
}

#siteName {
    color: white;
    background-color: black;
}

#filterMenu {
    min-width: 400px;
}

#bodyDiv{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

#bottom{
    height: 10%;
    width: 100%;
    bottom: 0%;
    position: fixed;
    text-align: center;
}

#copyright{
    color: blue;
    bottom: 0%;
    position: relative;
}

.artwork {
    margin: 1px;
    background-color: black;
    color: white;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
