#topBar {
    background-color: black;
}

.topBarElem {
}

.searchForm {
    background-color: brown;
}

#siteName {
    color: white;
}

#filterMenu {
    min-width: 400px;
}

#bodyDiv{
    height: 80%;
    width: 80%;
}

#bottom{
    height: 10%;
    width: 100%;
    margin-bottom: 0px;
}

#copyright{
    color: blue;
}
