#topBar {
    background-color: rgb(83, 77, 77);
}

.TopBarElem {
}

#siteName {
    color: white;
}

#filterMenu {
    min-width: 400px;
}

#bodyDiv{
    margin-left: 10%;
    margin-right: 10%;
}

#bottom{
    height: 10%;
    width: 100%;
    margin-bottom: 0px;
}

#copyright{
    color: blue;
}
